package views

import (
	"github.com/iypetrov/gopizza/templates"
    "github.com/iypetrov/gopizza/templates/components"
)

templ Hello() {
	@templates.Base() {
	    <div class="flex items-center justify-center h-full w-full">
            @components.HelloButton()
	    </div>
	}
}
