package views

import (
	"github.com/iypetrov/gopizza/templates"
    "github.com/iypetrov/gopizza/templates/components"
)

templ Hello(name string) {
	@templates.Base() {
		<div class="text-2xl">Hello, { name }!</div>
		@components.HelloButton("unsent")
	}
}
