package views

import "github.com/iypetrov/gopizza/templates"

templ Home() {
	@templates.Base() {
		<div class="flex items-center justify-center h-full w-full">
			// @PizzasOverview(resps)
		</div>
	}
}
