@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
    display: none;
}

.htmx-request .spinner {
    display: inline;
}

.htmx-request.spinner {
    display: inline;
}

.spinner-text {
    display: inline;
}

.htmx-request .spinner-text {
    display: none;
}

.htmx-request.spinner-text {
    display: none;
}
