package templates

templ Table() {
	<div class="max-h-[calc(100vh-12rem)] w-full">
		<table class="table table-auto min-w-full">
			{ children... }
		</table>
	</div>
}

templ Th(text string) {
	<th class="sticky top-0 bg-base-100 whitespace-nowrap px-3 py-2">
		{ text }
	</th>
}

templ Td() {
	<td class="whitespace-nowrap px-3 py-2">
		{ children... }
	</td>
}

templ TableHead() {
	<thead class="sticky top-0 bg-base-100 z-10">
		{ children... }
	</thead>
}
