package components

import "github.com/iypetrov/gopizza/templates"

templ HelloButton() {
	<div id="action">
		<button
		    hx-post="/"
		    hx-target="#action"
		    hx-swap="innerHTML"
		    hx-indicator="#spinner"
		    class="btn btn-primary text-base-100 w-32"
		>
            @templates.Spinner("Send")
		</button>
	</div>
}
