package view

import  (
    "github.com/iypetrov/gopizza/internal/config"
    "github.com/iypetrov/gopizza/web/template"
)

templ AdminHome() {
   @template.Base() {
        <h1 class="text-red-500">Admin Home</h1>
        <div
            hx-get={ config.Get().GetAPIPrefix() + "/pizzas" }
            hx-trigger="load"
        >
        </div>
   }
}
